<title>Operations</title>

<h1>Operations</h1>
<div hx-get="{% url 'create_operation' %}" hx-trigger="load">
   Loading... 
</div>
<table>
    <tr>
        <th scope="col">Short desc</th>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">DateTime</th>
        <th scope="col">Full description</th>
    </tr>
{% for operation in operations %}
<tr>
    <td> {{ operation.short_description }} </td>
    <td> {{ operation.category }}</td>
    <td> {{ operation.cost }}</td>
    <td> {{ operation.timestamp }}</td>
    <td> {{ operation.desctiption  }}</td>
</tr>
{% empty %}
    <tr>No data</tr>
{% endfor %}
</table>
